<%= simple_form_for([@group, @person]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="panel-footer">
    <%= f.button :submit, class:"btn btn-success" %>
<% end %>