<div class="panel panel-info col-md-6">
			<div class="panel-heading">
			<h3>New person</h3>
			</div>
			<div class="panel-body">
				<%= render 'form' %>
			

	<%= link_to 'Back', group_people_path, class:"btn btn-primary" %>
	</div>
</div>