/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main{
  max-width:960px;
  margin-top: 70px;
  padding-bottom: 0px;
}
.panel-info{
  margin-bottom: 0px;
}
.h-navbar{
  max-width:960px;
}
h1 .btn-primary{
  color:white;
}
.navbar strong{
  display: block;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.user-widget {
  float: right;
}


.money-positive{
    color: green;
}
.money-negative{
    color: red;
}
.money-zero{
    color: black;
}
.person-tooltip{
  width: 54px;
  height: 54px;
}
.table-buttons{
  width: 90px;
}

.person{
  background-color: white;
  margin: 0 5px 5px 5px;
  text-align: center;
  padding: 3px;
  -webkit-box-shadow: 1px 1px 1px 0 #D4D4D4;
  box-shadow: 1px 1px 1px 0 #D4D4D4;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;


}
  .img-person{
    width: 54px;
    height: 54px;
  }

h2.panel-title {
  font-size: 2.5em;
}
